<h2>Welcome to Wrona Nea!</h2>

<p>All the best news.</p>

{{#each model as |news-article|}}
  <p>{{news-article.title}} by {{news-article.author}}<br><img src={{news-article.urlToImage}}><br>{{news-article.description}} - {{news-article.publishedAt}}</p>
{{/each}}

{{#link-to 'contact'}}Contact Us{{/link-to}}
<br>
{{#link-to 'about'}}About Us{{/link-to}}
